<!DOCTYPE html>
<html>
  <head>
    <title>Tech Blog</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
  <a href="/">Home</a>
<a href="{{#if loggedIn}}/dashboard{{else}}/login{{/if}}">Dashboard</a>


  {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  {{/if}}
</nav>
    {{{body}}}
    {{#if loggedIn}}
  <script src="/public/js/logout.js"></script>
  {{/if}}
  </body>
</html>