<!DOCTYPE html>
<html>
  <head>
    <title>Tech Blog</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
    <h1>The Tech Blog</h1>
    </nav>
    {{{body}}}
  </body>
</html>